/* area */

.panphora .area {
  padding: 1rem 1.5rem 1.2rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #FEFBD6;
  margin-bottom: 1.5rem;
}

.panphora .secondary-area {
  padding: 1rem 1.5rem 1.2rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #f1f5f9;
  margin-bottom: 1.5rem;
}

/* container */

.panphora.container, .panphora .container {
  max-width: 690px;
  margin: 100px auto;
  padding: 1.5rem;
}


/* .choice-label */

.panphora .choice-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  cursor: pointer;
}

.panphora .choice-label input[type="checkbox"], 
.panphora .choice-label input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.panphora .choice-label input[type="radio"] {
  width: 22px;
  height: 22px;
}

/* 

  FLOATING LABEL TECHNIQUE 

  <div class=".floating-label-container">
    <input id="email" type="email" name="email" placeholder="Enter your email address">
    <label for="email">Enter your email address</label>
  </div>

  from: https://csslayout.io/floating-label/ 

*/

.panphora .floating-label-container {
  position: relative;
}

.panphora .floating-label-container input:not([type]):not(:placeholder-shown) + label,
.panphora .floating-label-container input[type="email"]:not(:placeholder-shown) + label,
.panphora .floating-label-container input[type="number"]:not(:placeholder-shown) + label,
.panphora .floating-label-container input[type="password"]:not(:placeholder-shown) + label,
.panphora .floating-label-container input[type="search"]:not(:placeholder-shown) + label,
.panphora .floating-label-container input[type="tel"]:not(:placeholder-shown) + label,
.panphora .floating-label-container input[type="text"]:not(:placeholder-shown) + label,
.panphora .floating-label-container input[type="url"]:not(:placeholder-shown) + label,
.panphora .floating-label-container textarea:not(:placeholder-shown) + label {
  pointer-events: none;
  opacity: 1;
  transform: translate(-9px, -100%);
  font-size: 15px;
  font-weight: bold;
}

.panphora .floating-label-container label {
  position: absolute;
  left: 9px;
  top: 0;
  opacity: 0;
  transition: transform 200ms;
}


/*  nice form input */

.panphora .e {
  display: block;
  align-items: center;
  border: 1px solid #000;
  color: #111827;
  background-image: linear-gradient(135deg, #ebebeb 12.50%, #ffffff 12.50%, #ffffff 50%, #ebebeb 50%, #ebebeb 62.50%, #ffffff 62.50%, #ffffff 100%);
  background-size: 5.66px 5.66px;
  border-radius: 5px;
  cursor: pointer;
}
.panphora .e:hover {
  border: 1px solid #2563eb;
  color: #1B44C9;
}
.panphora .e:focus-within {
  color: #1B44C9;
  outline: 1px solid #3b82f6;
  border: 1px solid #3b82f6;
  background-image: linear-gradient(135deg, #dbeafe 12.50%, #ffffff 12.50%, #ffffff 50%, #dbeafe 50%, #dbeafe 62.50%, #ffffff 62.50%, #ffffff 100%);
}
.panphora .e:focus-within .e__input {
  border-top: 1px solid #dbeafe;
}
.panphora .e__label {
  display: block;
  padding: 5px 0 5px 9px;
  font-size: 17px;
  line-height: 1;
  font-weight: bold;
}
.panphora .e__input {
  display: block;
  width: 100%;
  padding: 2px 9px 3px;
  border: none;
  border-top: 1px solid #EBEBEB;
  outline: none;
  border-radius: 0 0 5px 5px;
}

/* pill and expandable pill  form inputs */

.panphora .e--pill, 
.panphora .e--expandable-pill {
  display: flex;
}
.panphora .e--pill .e__label, 
.panphora .e--expandable-pill .e__label {
  padding: 12px 10px 12px 14px;
  font-size: 17px;
}
.panphora .e--pill .e__label::after, 
.panphora .e--expandable-pill .e__label::after {
  content: " \2192";
}
.panphora .e--pill .e__input, 
.panphora .e--expandable-pill .e__input {
  flex-grow: 1;
  align-self: stretch;
  width: auto;
  padding: 0px 8px 0px 8px;
  border: none;
  border-left: 1px solid #EBEBEB;
  outline: none;
  border-radius: 0 5px 5px 0;
}
.panphora .e--pill:focus-within .e__input {
  border-top: none;
  border-left: 1px solid #dbeafe;
}

/* expandable pill form input */

.panphora .e--expandable-pill:focus-within, 
.panphora .e--expandable-pill.e--has-content {
  display: block;
}

.panphora .e--expandable-pill:focus-within .e__label, 
.panphora .e--expandable-pill.e--has-content .e__label {
  padding: 5px 0 5px 9px;
  font-size: 17px;
}

.panphora .e--expandable-pill:focus-within .e__label::after, 
.panphora .e--expandable-pill.e--has-content .e__label::after {
  content: "";
}

.panphora .e--expandable-pill:focus-within .e__input, 
.panphora .e--expandable-pill.e--has-content .e__input {
  width: 100%;
  padding: 2px 9px 3px;
  border: none;
  border-left: none;
  border-top: 1px solid #dbeafe;
  border-radius: 0px 0px 5px 5px;
}




.panphora .opacity-0 { opacity: 0; }
.panphora .opacity-5 { opacity: 0.05; }
.panphora .opacity-10 { opacity: 0.1; }
.panphora .opacity-20 { opacity: 0.2; }
.panphora .opacity-25 { opacity: 0.25; }
.panphora .opacity-30 { opacity: 0.3; }
.panphora .opacity-40 { opacity: 0.4; }
.panphora .opacity-50 { opacity: 0.5; }
.panphora .opacity-60 { opacity: 0.6; }
.panphora .opacity-65 { opacity: 0.65; }
.panphora .opacity-70 { opacity: 0.7; }
.panphora .opacity-75 { opacity: 0.75; }
.panphora .opacity-80 { opacity: 0.8; }
.panphora .opacity-90 { opacity: 0.9; }
.panphora .opacity-95 { opacity: 0.95; }
.panphora .opacity-100 { opacity: 1; }


.panphora .line-height-1 {line-height: 1;}
.panphora .line-height-1\.1 {line-height: 1.1;}
.panphora .line-height-1\.2 {line-height: 1.2;}
.panphora .line-height-1\.3 {line-height: 1.3;}
.panphora .line-height-1\.4 {line-height: 1.4;}
.panphora .line-height-1\.5 {line-height: 1.5;}
.panphora .line-height-1\.6 {line-height: 1.6;}
.panphora .line-height-1\.7 {line-height: 1.7;}
.panphora .line-height-1\.8 {line-height: 1.8;}
.panphora .line-height-1\.9 {line-height: 1.9;}


.panphora .mb-0 {
  margin-bottom: 0rem;
}

.panphora .mb-\.1 {
  margin-bottom: .1rem;
}

.panphora .mb-\.2 {
  margin-bottom: .2rem;
}

.panphora .mb-\.3 {
  margin-bottom: .3rem;
}

.panphora .mb-\.4 {
  margin-bottom: .4rem;
}

.panphora .mb-\.5 {
  margin-bottom: .5rem;
}

.panphora .mb-\.6 {
  margin-bottom: .6rem;
}

.panphora .mb-\.7 {
  margin-bottom: .7rem;
}

.panphora .mb-\.8 {
  margin-bottom: .8rem;
}

.panphora .mb-\.9 {
  margin-bottom: .9rem;
}

.panphora .mb-1 {
  margin-bottom: 1rem;
}


.panphora .mb-1\.1 {
  margin-bottom: 1.1rem;
}

.panphora .mb-1\.2 {
  margin-bottom: 1.2rem;
}

.panphora .mb-1\.3 {
  margin-bottom: 1.3rem;
}

.panphora .mb-1\.4 {
  margin-bottom: 1.4rem;
}

.panphora .mb-1\.5 {
  margin-bottom: 1.5rem;
}

.panphora .mb-1\.6 {
  margin-bottom: 1.6rem;
}

.panphora .mb-1\.7 {
  margin-bottom: 1.7rem;
}

.panphora .mb-1\.8 {
  margin-bottom: 1.8rem;
}

.panphora .mb-1\.9 {
  margin-bottom: 1.9rem;
}

.panphora .mb-2 {
  margin-bottom: 2rem;
}


.panphora .mb-2\.1 {
  margin-bottom: 2.1rem;
}

.panphora .mb-2\.2 {
  margin-bottom: 2.2rem;
}

.panphora .mb-2\.3 {
  margin-bottom: 2.3rem;
}

.panphora .mb-2\.4 {
  margin-bottom: 2.4rem;
}

.panphora .mb-2\.5 {
  margin-bottom: 2.5rem;
}

.panphora .mb-2\.6 {
  margin-bottom: 2.6rem;
}

.panphora .mb-2\.7 {
  margin-bottom: 2.7rem;
}

.panphora .mb-2\.8 {
  margin-bottom: 2.8rem;
}

.panphora .mb-2\.9 {
  margin-bottom: 2.9rem;
}

.panphora .mb-3 {
  margin-bottom: 3rem;
}

.panphora .mb-3\.5 {
  margin-bottom: 3.5rem;
}

.panphora .mb-4 {
  margin-bottom: 4rem;
}

.panphora .mb-4\.5 {
  margin-bottom: 4.5rem;
}

.panphora .mb-5 {
  margin-bottom: 5rem;
}

.panphora .mb-5\.5 {
  margin-bottom: 5.5rem;
}

.panphora .mb-6 {
  margin-bottom: 6rem;
}

.panphora .mb-6\.5 {
  margin-bottom: 6.5rem;
}

.panphora .mb-7 {
  margin-bottom: 7rem;
}

.panphora .mb-7\.5 {
  margin-bottom: 7.5rem;
}

.panphora .mb-8 {
  margin-bottom: 8rem;
}

.panphora .mb-8\.5 {
  margin-bottom: 8.5rem;
}



.panphora .spacer {
  height: .25rem;
  width: .25rem;
}

@media (min-width: 640px) {
  .panphora .spacer {
    height: .4rem;
    width: .4rem;
  }
}