/*

  panphora.css

  make html look nice by default

  rules:
  - no layout styles
  - nice buttons! (most important)
  - headings resize for tablet/mobile
  - use a nice font :)
  - no dark mode (for now)

*/

/* GENERAL CSS RESET */

.panphora {
  font-size: 19px;
  line-height: 1.84;
  font-family: "Space Grotesk", sans-serif;
  color: #111827;
}

.panphora, .panphora *, .panphora *::before, .panphora *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panphora dl,
.panphora dt,
.panphora dd,
.panphora blockquote,
.panphora figure,
.panphora fieldset,
.panphora legend,
.panphora textarea,
.panphora pre,
.panphora iframe,
.panphora hr,
.panphora h1,
.panphora h2,
.panphora h3,
.panphora h4,
.panphora h5,
.panphora h6 {
  margin: 0;
  padding: 0;
}

.panphora form {
  width: 100%;
}

.panphora fieldset {
  border: 0;
  min-width: 0;
  width: 100%;
}

.panphora b,
.panphora strong {
  font-weight: bolder;
}

.panphora h1,
.panphora h2,
.panphora h3,
.panphora h4,
.panphora h5,
.panphora h6 {
  font-size: 100%;
  font-weight: bold;
}

.panphora button,
.panphora input,
.panphora select,
.panphora textarea {
  margin: 0;
  font: inherit;
}

.panphora img,
.panphora video,
.panphora canvas,
.panphora audio,
.panphora iframe,
.panphora embed,
.panphora object {
  display: block;
  vertical-align: middle;
}

.panphora svg {
  display: inline-block;
}

.panphora img,
.panphora video {
  height: auto;
  width: 100%;
}

.panphora iframe {
  border: 0;
}

.panphora table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

.panphora td,
.panphora th {
  padding: 0;
  border: 1px solid #cbd5e1;
  padding: .25rem .75rem;
}

.panphora th {
  background-color: #f1f5f9;
}

.panphora caption {
  margin: 1em 0;
}

.panphora hr {
  margin: 1rem 0;
  height: 0;
  color: inherit;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
}

.panphora blockquote {
  padding: .5rem .5rem .5rem 2rem;
  margin-bottom: 1.5rem;
  border-left: 10px solid #cbd5e1;
}

.panphora blockquote > * {
  margin: 1em 0;
}

.panphora code,
.panphora kbd,
.panphora samp,
.panphora pre {
  font-family: 'Space Mono', monospace;
}

.panphora code {
  display: inline-block;
  padding: 1px 4px 3px;
  background-color: #f1f5f9;
  border-radius: 4px;
  line-height: 1.3;
}

.panphora pre {
  display: block;
  margin-bottom: 1.5em;
  padding: 8px 16px 10px;
  background-color: #f1f5f9;
  border-radius: 4px;
  line-height: 1.6;
  white-space: pre;
  overflow-x: scroll;
}

.panphora pre::-webkit-scrollbar {
  width: 1em;
}
 
.panphora pre::-webkit-scrollbar-track {
  background-color: #f1f5f9;
  opacity: 0.8;
  background-image: linear-gradient(to right, #cbd5e1, #cbd5e1 5px, #f1f5f9 5px, #f1f5f9 );
  background-size: 10px 100%;
}
 
.panphora pre::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
}

.panphora mark {
  display: inline-block;
  padding: 1px 6px 2px;
  background-color: #fef08a;
  border: 1px solid #422006;
  border-radius: 4px;
  line-height: 1.3;
}

.panphora details {
  padding: 8px 16px 10px;
  background-color: #FEFBD6;
  border: 1px solid #422006;
  border-radius: 4px;
}

.panphora summary {
  cursor: pointer;
}

.panphora small {
  font-size: 80%;
}

.panphora sub,
.panphora sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.panphora sub {
  bottom: -0.25em;
}

.panphora sup {
  top: -0.5em;
}

.panphora *:-moz-focusring {
  outline: auto;
}

.panphora progress {
  vertical-align: baseline;
}

/*

  BUTTON RESET & CUSTOM BUTTON

*/

/* defaults for all buttons */
.panphora .button:not(input[type="file"]),
.panphora .secondary-button:not(input[type="file"]),
.panphora .large-button:not(input[type="file"]),
.panphora button,
.panphora [type='button'],
.panphora [type='reset'],
.panphora [type='submit'],
.panphora input[type="file"].button::file-selector-button,
.panphora input[type="file"].secondary-button::file-selector-button,
.panphora input[type="file"].large-button::file-selector-button {
  white-space: nowrap;
  display: inline-block;
  flex: 0 0 auto;
  align-self: flex-start;
  margin: 0;
  margin-right: 1rem;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  font-weight: bold;
  text-decoration: none;
  background: #F3C1FF;
  font-family: inherit;
  padding: 6px 16px 7px;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.15em 0.15em;
  cursor: pointer;
}

/* large button */
.panphora .large-button:not(input[type="file"]),
.panphora button.large-button,
.panphora [type='button'].large-button,
.panphora [type='reset'].large-button,
.panphora [type='submit'].large-button,
.panphora input[type="file"].large-button::file-selector-button {
  padding: 10px 23px 11px;
  font-size: 19px;
}

/* hover defaults for all buttons */
.panphora .button:not(input[type="file"]):hover,
.panphora .secondary-button:not(input[type="file"]):hover,
.panphora .large-button:not(input[type="file"]):hover,
.panphora button:hover,
.panphora [type='button']:hover,
.panphora [type='reset']:hover,
.panphora [type='submit']:hover,
.panphora input[type="file"].button::file-selector-button:hover,
.panphora input[type="file"].secondary-button::file-selector-button:hover,
.panphora input[type="file"].large-button::file-selector-button:hover {
  background: #EEABFE;
}

/* secondary button */
.panphora .secondary-button:not(input[type="file"]),
.panphora button.secondary-button,
.panphora [type='button'].secondary-button,
.panphora [type='reset'].secondary-button,
.panphora [type='submit'].secondary-button,
.panphora input[type="file"].secondary-button::file-selector-button {
  background-color: #D6EBF7;
}

/* :hover secondary button */
.panphora .secondary-button:not(input[type="file"]):hover,
.panphora button.secondary-button:hover,
.panphora [type='button'].secondary-button:hover,
.panphora [type='reset'].secondary-button:hover,
.panphora [type='submit'].secondary-button:hover,
.panphora input[type="file"].secondary-button::file-selector-button:hover {
  background-color: #BFE0F3;
}

/* active defaults for all buttons */
.panphora .button:not(input[type="file"]):active,
.panphora .secondary-button:not(input[type="file"]):active,
.panphora .large-button:not(input[type="file"]):active,
.panphora button:active,
.panphora [type='button']:active,
.panphora [type='reset']:active,
.panphora [type='submit']:active,
.panphora input[type="file"].button::file-selector-button:active,
.panphora input[type="file"].secondary-button::file-selector-button:active,
.panphora input[type="file"].large-button::file-selector-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.panphora .button:not(input[type="file"])::-moz-focus-inner,
.panphora .secondary-button:not(input[type="file"])::-moz-focus-inner,
.panphora .large-button:not(input[type="file"])::-moz-focus-inner,
.panphora button::-moz-focus-inner,
.panphora [type='button']::-moz-focus-inner,
.panphora [type='reset']::-moz-focus-inner,
.panphora [type='submit']::-moz-focus-inner,
.panphora input[type="file"].button::file-selector-button::-moz-focus-inner,
.panphora input[type="file"].secondary-button::file-selector-button::-moz-focus-inner,
.panphora input[type="file"].large-button::file-selector-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 
 
  ANCHORS / LINKS

*/

.panphora a {
  color: #2563eb;
}

.panphora a:hover {
  color: #134FD3;
}

/*
  
  Spacing between LARGE headings and the next element is LARGE

*/

.panphora .h1,
.panphora h1 {
  margin-bottom: .5em;
}

.panphora .h2,
.panphora h2 {
  margin-bottom: .5em;
}

.panphora .h3,
.panphora h3 {
  margin-bottom: .5em;
}

.panphora .h4,
.panphora h4 {
  margin-bottom: .5em;
}

.panphora .h5,
.panphora h5 {
  margin-bottom: .5em;
}

.panphora .h6,
.panphora h6 {
  margin-bottom: .5em;
}

/* TYPOGRAPHY */

/* 

   headings 

   they have default font size and line height, but they can be
   overwritten by using heading classes like .h1, .h2, .h3

*/

.panphora h1 {
  font-size: 38px;
  line-height: 1.15;
}

.panphora h2 {
  font-size: 33px;
  line-height: 1.18;
}

.panphora h3 {
  font-size: 29px;
  line-height: 1.22;
}

.panphora h4 {
  font-size: 25px;
  line-height: 1.27;
}

.panphora h5 {
  font-size: 22px;
  line-height: 1.29;
}

.panphora h6 {
  font-size: 19px;
  line-height: 1.35;
}

.panphora .h1 {
  font-size: 38px;
  line-height: 1.15;
}

.panphora .h2 {
  font-size: 33px;
  line-height: 1.18;
}

.panphora .h3 {
  font-size: 29px;
  line-height: 1.22;
}

.panphora .h4 {
  font-size: 25px;
  line-height: 1.27;
}

.panphora .h5 {
  font-size: 22px;
  line-height: 1.29;
}

.panphora .h6 {
  font-size: 19px;
  line-height: 1.35;
}


@media (min-width: 640px) {

  .panphora h1 {
    font-size: 52px;
    line-height: 1.05;
  }

  .panphora h2 {
    font-size: 44px;
    line-height: 1.1;
  }

  .panphora h3 {
    font-size: 34px;
    line-height: 1.2;
  }

  .panphora h4 {
    font-size: 28px;
    line-height: 1.25;
  }

  .panphora h5 {
    font-size: 24px;
    line-height: 1.3;
  }

  .panphora h6 {
    font-size: 21px;
    line-height: 1.3;
  }

  .panphora .h1 {
    font-size: 52px;
    line-height: 1.05;
  }

  .panphora .h2 {
    font-size: 44px;
    line-height: 1.1;
  }

  .panphora .h3 {
    font-size: 34px;
    line-height: 1.2;
  }

  .panphora .h4 {
    font-size: 28px;
    line-height: 1.25;
  }

  .panphora .h5 {
    font-size: 24px;
    line-height: 1.3;
  }

  .panphora .h6 {
    font-size: 21px;
    line-height: 1.3;
  }

}



/* main input styles */

.panphora textarea {
  display: block;
  width: 100%;
  padding: 8px 12px;
  resize: vertical;
  border: 1px solid #000;
  border-radius: 3px;
}

.panphora input:not([type]):not(.e__input),
.panphora input[type="email"]:not(.e__input),
.panphora input[type="number"]:not(.e__input),
.panphora input[type="password"]:not(.e__input),
.panphora input[type="search"]:not(.e__input),
.panphora input[type="tel"]:not(.e__input),
.panphora input[type="text"]:not(.e__input),
.panphora input[type="url"]:not(.e__input),
.panphora input[type="date"]:not(.e__input),
.panphora input[type="datetime"]:not(.e__input),
.panphora input[type="datetime-local"]:not(.e__input),
.panphora input[type="month"]:not(.e__input),
.panphora input[type="week"]:not(.e__input),
.panphora input[type="time"]:not(.e__input) {
  padding: 4px 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.panphora input:not([type]):not(.e__input):hover,
.panphora input[type="email"]:not(.e__input):hover,
.panphora input[type="number"]:not(.e__input):hover,
.panphora input[type="password"]:not(.e__input):hover,
.panphora input[type="search"]:not(.e__input):hover,
.panphora input[type="tel"]:not(.e__input):hover,
.panphora input[type="text"]:not(.e__input):hover,
.panphora input[type="url"]:not(.e__input):hover,
.panphora input[type="date"]:not(.e__input):hover,
.panphora input[type="datetime"]:not(.e__input):hover,
.panphora input[type="datetime-local"]:not(.e__input):hover,
.panphora input[type="month"]:not(.e__input):hover,
.panphora input[type="week"]:not(.e__input):hover,
.panphora input[type="time"]:not(.e__input):hover {
  border-color: #8993a2;
}

.panphora select {
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  border: 1px solid #000;
  border-radius: 3px;
}

.panphora select:not([multiple]):not([size]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  line-height: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
}





















