/*

  panphora.css

  make html look nice by default

  rules:
  - no layout styles
  - nice buttons! (most important)
  - headings resize for tablet/mobile
  - use a nice font :)
  - no dark mode (for now)

*/

/* GENERAL CSS RESET */

.panphora {
  font-size: 19px;
  line-height: 1.84;
  font-family: "Space Grotesk", sans-serif;
  color: #111827;
}

.panphora, .panphora *, .panphora *::before, .panphora *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panphora.container, .panphora .container {
  max-width: 690px;
  margin: 100px auto;
  padding: 1.5rem;
}

.panphora dl,
.panphora dt,
.panphora dd,
.panphora blockquote,
.panphora figure,
.panphora fieldset,
.panphora legend,
.panphora textarea,
.panphora pre,
.panphora iframe,
.panphora hr,
.panphora h1,
.panphora h2,
.panphora h3,
.panphora h4,
.panphora h5,
.panphora h6 {
  margin: 0;
  padding: 0;
}

.panphora form {
  width: 100%;
}

.panphora fieldset {
  border: 0;
  min-width: 0;
  width: 100%;
}

.panphora b,
.panphora strong {
  font-weight: bolder;
}

.panphora h1,
.panphora h2,
.panphora h3,
.panphora h4,
.panphora h5,
.panphora h6 {
  font-size: 100%;
  font-weight: bold;
}

.panphora button,
.panphora input,
.panphora select,
.panphora textarea {
  margin: 0;
  font: inherit;
}

.panphora img,
.panphora svg,
.panphora video,
.panphora canvas,
.panphora audio,
.panphora iframe,
.panphora embed,
.panphora object {
  display: block;
  vertical-align: middle;
}

.panphora img,
.panphora video {
  height: auto;
  width: 100%;
}

.panphora iframe {
  border: 0;
}

.panphora table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

.panphora td,
.panphora th {
  padding: 0;
  border: 1px solid #cbd5e1;
  padding: .25rem .75rem;
}

.panphora th {
  background-color: #f1f5f9;
}

.panphora caption {
  margin: 1em 0;
}

.panphora hr {
  margin: 1rem 0;
  height: 0;
  color: inherit;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
}

.panphora blockquote {
  padding: .5rem .5rem .5rem 2rem;
  margin-bottom: 1.5rem;
  border-left: 10px solid #cbd5e1;
}

.panphora blockquote > * {
  margin: 1em 0;
}

.panphora code,
.panphora kbd,
.panphora samp,
.panphora pre {
  font-family: 'Space Mono', monospace;
}

.panphora code {
  display: inline-block;
  padding: 0px 4px 3px;
  background-color: #E4E8EE;
  border-radius: 4px;
  line-height: 1.3;
}

.panphora pre {
  display: block;
  margin-bottom: 1.5em;
  padding: 8px 16px 10px;
  background-color: #E4E8EE;
  border-radius: 4px;
  line-height: 1.6;
  white-space: pre;
  overflow-x: scroll;
}

.panphora pre::-webkit-scrollbar {
  width: 1em;
}
 
.panphora pre::-webkit-scrollbar-track {
  background-color: #f1f5f9;
  opacity: 0.8;
  background-image: linear-gradient(to right, #cbd5e1, #cbd5e1 5px, #f1f5f9 5px, #f1f5f9 );
  background-size: 10px 100%;
}
 
.panphora pre::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
}

.panphora mark {
  display: inline-block;
  padding: 1px 4px 2px;
  background-color: #fef08a;
  border: 1px solid #422006;
  border-radius: 4px;
  line-height: 1.3;
}

.panphora details {
  padding: 8px 16px 10px;
  background-color: #FEFBD6;
  border: 1px solid #422006;
  border-radius: 4px;
}

.panphora summary {
  cursor: pointer;
}

.panphora small {
  font-size: 80%;
}

.panphora sub,
.panphora sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.panphora sub {
  bottom: -0.25em;
}

.panphora sup {
  top: -0.5em;
}

.panphora *:-moz-focusring {
  outline: auto;
}

.panphora progress {
  vertical-align: baseline;
}

/*

  BUTTON RESET

*/

.panphora button,
.panphora [type='button'],
.panphora [type='reset'],
.panphora [type='submit'],
.panphora input[type="file"]::file-selector-button {
  white-space: nowrap;
  display: inline-block;
  flex: 0 0 auto;
  align-self: flex-start;
  margin: 0;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  font-weight: bold;
  text-decoration: none;
  background: #F3C1FF;
  font-family: inherit;
  padding: 6px 16px 7px;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.15em 0.15em;
  cursor: pointer;
}

.panphora button.large-button,
.panphora [type='button'].large-button,
.panphora [type='reset'].large-button,
.panphora [type='submit'].large-button,
.panphora input[type="file"].large-button::file-selector-button {
  padding: 10px 23px 11px;
  font-size: 19px;
}

.panphora button:hover,
.panphora [type='button']:hover,
.panphora [type='reset']:hover,
.panphora [type='submit']:hover,
.panphora input[type="file"]::file-selector-button:hover {
  background: #EEABFE;
}

.panphora button:active,
.panphora [type='button']:active,
.panphora [type='reset']:active,
.panphora [type='submit']:active,
.panphora input[type="file"]::file-selector-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.panphora button::-moz-focus-inner,
.panphora [type='button']::-moz-focus-inner,
.panphora [type='reset']::-moz-focus-inner,
.panphora [type='submit']::-moz-focus-inner,
.panphora input[type="file"]::file-selector-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 
 
  ANCHORS / LINKS

*/

.panphora a {
  color: #2563eb;
}

.panphora a:hover {
  color: #134FD3;
}

/*
  
  Spacing between LARGE headings and the next element is LARGE

*/

.panphora .h1,
.panphora h1 {
  margin-bottom: .5em;
}

.panphora .h2,
.panphora h2 {
  margin-bottom: .5em;
}

.panphora .h3,
.panphora h3 {
  margin-bottom: .5em;
}

.panphora .h4,
.panphora h4 {
  margin-bottom: .5em;
}

.panphora .h5,
.panphora h5 {
  margin-bottom: .5em;
}

.panphora .h6,
.panphora h6 {
  margin-bottom: .5em;
}

/* TYPOGRAPHY */

/* 

   headings 

   they have default font size and line height, but they can be
   overwritten by using heading classes like .h1, .h2, .h3

*/

.panphora h1 {
  font-size: 38px;
  line-height: 1.15;
}

.panphora h2 {
  font-size: 33px;
  line-height: 1.18;
}

.panphora h3 {
  font-size: 29px;
  line-height: 1.22;
}

.panphora h4 {
  font-size: 25px;
  line-height: 1.27;
}

.panphora h5 {
  font-size: 22px;
  line-height: 1.29;
}

.panphora h6 {
  font-size: 19px;
  line-height: 1.35;
}

.panphora .h1 {
  font-size: 38px;
  line-height: 1.15;
}

.panphora .h2 {
  font-size: 33px;
  line-height: 1.18;
}

.panphora .h3 {
  font-size: 29px;
  line-height: 1.22;
}

.panphora .h4 {
  font-size: 25px;
  line-height: 1.27;
}

.panphora .h5 {
  font-size: 22px;
  line-height: 1.29;
}

.panphora .h6 {
  font-size: 19px;
  line-height: 1.35;
}


@media (min-width: 640px) {

  .panphora h1 {
    font-size: 52px;
    line-height: 1.05;
  }

  .panphora h2 {
    font-size: 44px;
    line-height: 1.1;
  }

  .panphora h3 {
    font-size: 34px;
    line-height: 1.2;
  }

  .panphora h4 {
    font-size: 28px;
    line-height: 1.25;
  }

  .panphora h5 {
    font-size: 24px;
    line-height: 1.3;
  }

  .panphora h6 {
    font-size: 21px;
    line-height: 1.3;
  }

  .panphora .h1 {
    font-size: 52px;
    line-height: 1.05;
  }

  .panphora .h2 {
    font-size: 44px;
    line-height: 1.1;
  }

  .panphora .h3 {
    font-size: 34px;
    line-height: 1.2;
  }

  .panphora .h4 {
    font-size: 28px;
    line-height: 1.25;
  }

  .panphora .h5 {
    font-size: 24px;
    line-height: 1.3;
  }

  .panphora .h6 {
    font-size: 21px;
    line-height: 1.3;
  }

}





/* 

  FLOATING LABEL TECHNIQUE 

  <fieldset>
    <input id="email" type="email" name="email" placeholder="Enter your email address">
    <label for="email">Enter your email address</label>
  </fieldset>

  from: https://csslayout.io/floating-label/ 

*/

.panphora fieldset {
  position: relative;
}

.panphora fieldset input:not([type]):not(:placeholder-shown) + label,
.panphora fieldset input[type="email"]:not(:placeholder-shown) + label,
.panphora fieldset input[type="number"]:not(:placeholder-shown) + label,
.panphora fieldset input[type="password"]:not(:placeholder-shown) + label,
.panphora fieldset input[type="search"]:not(:placeholder-shown) + label,
.panphora fieldset input[type="tel"]:not(:placeholder-shown) + label,
.panphora fieldset input[type="text"]:not(:placeholder-shown) + label,
.panphora fieldset input[type="url"]:not(:placeholder-shown) + label,
.panphora fieldset textarea:not(:placeholder-shown) + label {
  pointer-events: none;
  opacity: 1;
  transform: translate(-9px, -100%);
  font-size: 17px;
  font-weight: bold;
}

.panphora fieldset label {
  position: absolute;
  left: 9px;
  top: 0;
  opacity: 0;
  transition: transform 200ms;
}

/* main input styles */

.panphora textarea {
  display: block;
  width: 100%;
  padding: 8px 12px;
  resize: vertical;
  border: 1px solid #000;
  border-radius: 3px;
}

.panphora input:not([type]):not(.e__input),
.panphora input[type="email"]:not(.e__input),
.panphora input[type="number"]:not(.e__input),
.panphora input[type="password"]:not(.e__input),
.panphora input[type="search"]:not(.e__input),
.panphora input[type="tel"]:not(.e__input),
.panphora input[type="text"]:not(.e__input),
.panphora input[type="url"]:not(.e__input),
.panphora input[type="date"]:not(.e__input),
.panphora input[type="datetime"]:not(.e__input),
.panphora input[type="datetime-local"]:not(.e__input),
.panphora input[type="month"]:not(.e__input),
.panphora input[type="week"]:not(.e__input),
.panphora input[type="time"]:not(.e__input) {
  padding: 4px 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.panphora input:not([type]):not(.e__input):hover,
.panphora input[type="email"]:not(.e__input):hover,
.panphora input[type="number"]:not(.e__input):hover,
.panphora input[type="password"]:not(.e__input):hover,
.panphora input[type="search"]:not(.e__input):hover,
.panphora input[type="tel"]:not(.e__input):hover,
.panphora input[type="text"]:not(.e__input):hover,
.panphora input[type="url"]:not(.e__input):hover,
.panphora input[type="date"]:not(.e__input):hover,
.panphora input[type="datetime"]:not(.e__input):hover,
.panphora input[type="datetime-local"]:not(.e__input):hover,
.panphora input[type="month"]:not(.e__input):hover,
.panphora input[type="week"]:not(.e__input):hover,
.panphora input[type="time"]:not(.e__input):hover {
  border-color: #8993a2;
}

.panphora select {
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  border: 1px solid #000;
  border-radius: 3px;
}

.panphora select:not([multiple]):not([size]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  line-height: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
}




/* .choice-label */

.panphora .choice-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  cursor: pointer;
}

.panphora .choice-label input[type="checkbox"], 
.panphora .choice-label input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.panphora .choice-label input[type="radio"] {
  width: 22px;
  height: 22px;
}








/*  nice form input */

.panphora .e {
  display: block;
  align-items: center;
  border: 1px solid #000;
  color: #111827;
  background-image: linear-gradient(135deg, #ebebeb 12.50%, #ffffff 12.50%, #ffffff 50%, #ebebeb 50%, #ebebeb 62.50%, #ffffff 62.50%, #ffffff 100%);
  background-size: 5.66px 5.66px;
  border-radius: 5px;
  cursor: pointer;
}
.panphora .e:hover {
  border: 1px solid #2563eb;
  color: #1B44C9;
}
.panphora .e:focus-within {
  color: #1B44C9;
  outline: 1px solid #3b82f6;
  border: 1px solid #3b82f6;
  background-image: linear-gradient(135deg, #dbeafe 12.50%, #ffffff 12.50%, #ffffff 50%, #dbeafe 50%, #dbeafe 62.50%, #ffffff 62.50%, #ffffff 100%);
}
.panphora .e:focus-within .e__input {
  border-top: 1px solid #dbeafe;
}
.panphora .e__label {
  display: block;
  padding: 5px 0 5px 9px;
  font-size: 17px;
  line-height: 1;
  font-weight: bold;
}
.panphora .e__input {
  display: block;
  width: 100%;
  padding: 2px 9px 3px;
  border: none;
  border-top: 1px solid #EBEBEB;
  outline: none;
  border-radius: 0 0 5px 5px;
}

/* pill and expandable pill  form inputs */

.panphora .e--pill, 
.panphora .e--expandable-pill {
  display: flex;
}
.panphora .e--pill .e__label, 
.panphora .e--expandable-pill .e__label {
  padding: 12px 10px 12px 14px;
  font-size: 17px;
}
.panphora .e--pill .e__label::after, 
.panphora .e--expandable-pill .e__label::after {
  content: " \2192";
}
.panphora .e--pill .e__input, 
.panphora .e--expandable-pill .e__input {
  flex-grow: 1;
  align-self: stretch;
  width: auto;
  padding: 0px 8px 0px 8px;
  border: none;
  border-left: 1px solid #EBEBEB;
  outline: none;
  border-radius: 0 5px 5px 0;
}
.panphora .e--pill:focus-within .e__input {
  border-top: none;
  border-left: 1px solid #dbeafe;
}

/* expandable pill form input */

.panphora .e--expandable-pill:focus-within, 
.panphora .e--expandable-pill.e--has-content {
  display: block;
}

.panphora .e--expandable-pill:focus-within .e__label, 
.panphora .e--expandable-pill.e--has-content .e__label {
  padding: 5px 0 5px 9px;
  font-size: 17px;
}

.panphora .e--expandable-pill:focus-within .e__label::after, 
.panphora .e--expandable-pill.e--has-content .e__label::after {
  content: "";
}

.panphora .e--expandable-pill:focus-within .e__input, 
.panphora .e--expandable-pill.e--has-content .e__input {
  width: 100%;
  padding: 2px 9px 3px;
  border: none;
  border-left: none;
  border-top: 1px solid #dbeafe;
  border-radius: 0px 0px 5px 5px;
}




.opacity-0 { opacity: 0; }
.opacity-5 { opacity: 0.05; }
.opacity-10 { opacity: 0.1; }
.opacity-20 { opacity: 0.2; }
.opacity-25 { opacity: 0.25; }
.opacity-30 { opacity: 0.3; }
.opacity-40 { opacity: 0.4; }
.opacity-50 { opacity: 0.5; }
.opacity-60 { opacity: 0.6; }
.opacity-65 { opacity: 0.65; }
.opacity-70 { opacity: 0.7; }
.opacity-75 { opacity: 0.75; }
.opacity-80 { opacity: 0.8; }
.opacity-90 { opacity: 0.9; }
.opacity-95 { opacity: 0.95; }
.opacity-100 { opacity: 1; }

















